@{
    ViewData["Title"] = "Educacion Virtual";
}
<link rel="stylesheet" href="~/css/site.css" />

<body class="img_index">
    <div class="text-center" style="background-color: #ff7f5062; margin: 270px 0px 0px 0px ">
        <h1 class="display-4" style="color: #10c510f8 ">Bienvenidos</h1>
        <br /><br /><br /><br />
        <h3><p style="color: mediumblue ">Proyecto en construcción con el objetivo de dar apoyo a la educación virtual, ofreciendo una interfaz simple e intuitiva.</p></h3>
        <br />
        <h3 style="color: mediumblue">
            Proyecto desarrollado por el grupo 10
            perteneciente al grupo 50 desarrollo de
            software MisionTic 2022 universidad de caldas
        </h3>

        <h3><a href="https://misiontic.ucaldas.edu.co/" style="color:black">MisionTic Universidad de Caldas</a></h3>
        <br />
    </div>
</body>



