@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Terminos de Privacidad</h1>

<p>Proyecto Educativo sin fines de lucro, se presenta como una posible solucion a una eventual aplicacion a la educacion virtual.</p>
